@import '~bpmn-js/dist/assets/diagram-js.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
@import '~diagram-js-minimap/assets/diagram-js-minimap.css';

.panel {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  min-width: 260px;
  border-left: 1px solid #ccc;
  overflow: auto;
  background-color: #F2F6FC;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.djs-minimap {
  bottom: 20px;
  left: 20px;
  top: auto;
  right: auto;
}

.djs-palette {
  left: 1px;
  top: 5px;
}

.buttons {
  position: absolute;
  left: 110px;
  bottom: 5px;
}

.listenerStyle {
  min-width: 900px;
}

a[href="http://bpmn.io"] {
  display: none;
}
